body{
  font-family: 'Bruno Ace SC', cursive;
}


.main-content{
  box-shadow: inset 0 0 50px #52057b, 0 0 50px #52057b;
  border: 6px solid #52057b;
  border-radius: 20px 70px;
  display: flex;
  position: absolute;
  top: 10;
  left: 90;
  bottom: 10;
  right: 10;
  padding-right: 60px;
  backdrop-filter: blur(2px);
}

header h1{
  position: absolute;
  right: 60px;
  font-size: 40px;
  font-weight:900;
  color: #F56EB3;
  text-shadow: 0 0 15px #F56EB3;
}

header h3 {
  position: absolute;
  right: 60px;
  top: 70px;
  font-size: 20px;
  font-weight:900;
  color: #CB1C8D;
  text-shadow: 0 0 15px #CB1C8D;
}

.education, .expirience, .side-projects, .scills-n-tools{
  display: flex;
  /* background-color: #fff; */
  position: absolute;
  top: 130px;
  right: 60px;
  bottom: 50px;
  left: 60px;
}

.education h2 {
  position: absolute;
  right: 0;
  color: #fff;
}

.p1{
  position: absolute;
  right: 300px;
  top: 60px;
  color: #fff;
}

.p2{
  position: absolute;
  right: 860px;
  top: 60px;
  color: #fff;
}

.p3{
  position: absolute;
  right: 0;
  top: 60px;
  color: #fff;
}

.expirience h2{
  position: absolute;
  right: 0;
  color: #fff;
}

.side-projects h2{
  position: absolute;
  right: 0;
  color: #fff;
}

.a3{
  position: absolute;
  right: 0;
  top: 60px;
}

.scills-n-tools h2 {
  position: absolute;
  right: 0;
  color: #fff;
}

.p4 {
  position: absolute;
  right: 600px;
  top: 60px;
  color: #fff;
}

.p5 {
  position: absolute;
  right: 640px;
  top: 170px;
  color: #fff;
}

.education .p5 {
  position: absolute;
  right: 650px;
  top: 170px;
  color: #fff;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  padding: 30px;
  /* background-color: rgba(0, 255, 255, 0.359); */
  z-index: 1;
}

.sidebar img{
  width: 70%;
  border-radius: 10px;
}

.sidebar img::before { 
  width: 70%;
  border-radius: 10px; 
}

.contacts{
  margin-top: 40px;
}

.contacts li {
  margin-bottom: 10px;
}

.contacts h3 {
  color: #fff;
}

a{
  text-decoration: none;
  color: #E5BEEC;
}

.menu {
  width: 300px;
  height: 355px;
  padding: 25vh 50px;
  position: fixed;
  background-color: #37306b6d;
  border-right: 10px solid #61297d65;
  backdrop-filter: blur(3px);
  left: -400px;
  transition: all 0.3s ease;
  z-index: 1;
}

.menu:hover{
  left: 0;
  transition: all 0.3s ease;
}

.menu h1{
  font-family: 'Bruno Ace SC', cursive;
  font-size: 40px;
  font-weight:900;
  margin-bottom: 50px;
  color: #d26779;
  text-shadow: 0 0 15px #d26779;
}

.menu-spoiler {
  transform: rotate(90deg);
  position: absolute;
  left: 110px;
  letter-spacing: 10px;
  height: min-content;
}

.list-menu button{
  margin-bottom: 25px;
  max-height: max-content;
  width: max-content;
  border: none;
  background: none;
  font-family: 'Bruno Ace SC', cursive;
  font-size: 25px;
  color: #BC6FF1;
  text-shadow: 0 0 10px #BC6FF1;
  transition: all 0.2s ease;
}

.list-menu button:hover{
  padding-left: 15px;
  transition: all 0.2s ease;
}

.list-menu li {
  margin: 25px 0;  
}

.list-menu {
  /* background-color: #fff; */
  width: 300px;
}

.stars, .twinkling {
position:absolute;
top:0;
left:0;
right:0;
bottom: 0;
display:block;
}

.stars {
  background:#000000 url(https://i.postimg.cc/hhFD7Nkf/apps-47636-13819498107583324-fb06b53a-4974-4acb-85e6-f6f363f85ab6-edec48d0-ec35-4a1f-8bf5-c455987b4a.png) repeat top center;
  z-index: 0;
}

.twinkling {
background-image: url(https://i.postimg.cc/CLpNr4PF/twinkling.png);
animation: 3s twinkle infinite;
animation-timing-function: linear;
}

@keyframes twinkle {
from {backrgound-position: 0}
to {background-position: -100px 0}
}