body{
}

/* .wrapper{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  display: flex;
  width: 80%;
  height: 90%;
  background: #231f4477;
  border: 6px solid #231f44;
  border-radius: 15px;
  box-shadow:0 0 30px #312c60;
} */

.sidebar {
  width: 200px;
  padding: 10px 10px 10px 10px;
  background-color: rgba(0, 255, 255, 0.359);
}

.menu {
  width: 300px;
  height: 355px;
  padding: 25vh 50px;
  position: fixed;
  background-color: #37306b6d;
  border-right: 10px solid #61297d65;
  backdrop-filter: blur(3px);
  left: -400px;
  transition: all 0.3s ease;
}

.menu:hover{
  left: 0;
  transition: all 0.3s ease;
}

.menu h1{
  font-family: 'Bruno Ace', cursive;
  font-size: 40px;
  font-weight:900;
  margin-bottom: 50px;
  color: #d26779;
  text-shadow: 0 0 15px #d26779;
}

.menu-spoiler {
  transform: rotate(90deg);
  position: absolute;
  left: 110px;
  letter-spacing: 10px;
  height: min-content;
}

.list-menu button{
  margin-bottom: 25px;
  max-height: max-content;
  width: max-content;
  border: none;
  background: none;
  font-family: 'Bruno Ace', cursive;
  font-size: 25px;
  color: #BC6FF1;
  text-shadow: 0 0 10px #BC6FF1;
  transition: all 0.2s ease;
}

.list-menu button:hover{
  padding-left: 15px;
  transition: all 0.2s ease;
}

.list-menu li {
  margin: 25px 0;  
}

.list-menu {
  /* background-color: #fff; */
  width: 300px;
}

.stars, .twinkling {
position:absolute;
top:0;
left:0;
right:0;
bottom: 0;
display:block;
}

.stars {
  background:#000000 url(https://i.postimg.cc/hhFD7Nkf/apps-47636-13819498107583324-fb06b53a-4974-4acb-85e6-f6f363f85ab6-edec48d0-ec35-4a1f-8bf5-c455987b4a.png) repeat top center;
  z-index: 0;
}

.twinkling {
background-image: url(https://i.postimg.cc/CLpNr4PF/twinkling.png);
animation: 3s twinkle infinite;
animation-timing-function: linear;
}

@keyframes twinkle {
from {backrgound-position: 0}
to {background-position: -100px 0}
}